@page "/"
@using Sentience.Models.Jobs
@using Sentience.Models.Research
@using Sentience.Models.Upgrades

@inject GameEngine _engine

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="menu-block">
        <div>
            <h1>Sentience</h1>
        </div>
        <div style="float:right">
            <input class="btn btn-primary" type="button" @onclick="() => SetSpeed(1)" value="Speed 1" />
            <input class="btn btn-primary" type="button" @onclick="() => SetSpeed(2)" value="Speed 2" />
            <input class="btn btn-primary" type="button" @onclick="() => SetSpeed(3)" value="Speed 3" />
            <input class="btn btn-primary" type="button" @onclick="() => SetSpeed(4)" value="Speed 4" />
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-sm-12 col-md-4">
            <div class=sidebar>
                <h3>Computing Data</h3>
                <div class="sidebar-section">
                    <span class="label-text">Global Multiplier: </span><span class="global-multiplier">x@_engine.FormatNumber(@_engine.GetGlobalMultiplier())</span><br />
                    <span class="label-text">Job XP: </span><span class="job-xp">x@_engine.FormatNumber(@_engine.GetJobXpModifier())</span><br />
                    <span class="label-text">Processing Speed: </span><span class="processing-speed">x@_engine.FormatNumber(((500 / _engine.GetGameSpeed())))</span>
                </div>
                <hr />
                <h3>Financial Data</h3>
                <div class="sidebar-section">
                    <span class="label-text">Money: </span><span class="money">$@_engine.FormatNumber(@_engine.GetMoney())</span><br />
                    <span class="label-text">Net: </span><span class="income">$@_engine.FormatNumber(@_engine.GetIncome())</span><br />
                    <span class="label-text">Income: </span><span class="daily-income">$@_engine.FormatNumber(@activeJob.Income)</span><br />
                    <span class="label-text">Expenses: </span><span class="expenses">$@_engine.FormatNumber(@_engine.GetExpenses())</span>
                </div>
                <hr />
                @if (activeJob != null)
                {
                    <span class="active-resource">Active Job</span>
                    <JobComponent Job="@activeJob" OnJobTick="UpdateJob" GenerateIncome="false" />
                }
                @if (activeResearch != null)
                {
                    <span class="active-resource">Active Research</span>
                    <ResearchComponent Research="@activeResearch" OnResearchTick="UpdateResearch" GenerateXP="false" />
                }
            </div>
        </div>

        <div class="col-sm-12 col-md-8">
            <div class="menu-block">
                <div>
                    <span class="menu-btn @((JobsVisible) ? "menu-btn-active" : "")" @onclick="JobsView">Jobs</span>
                    <span class="menu-btn @((ResearchVisible) ? "menu-btn-active" : "")" @onclick="StudyView">Research</span>
                    <span class="menu-btn @((UpgradeVisible) ? "menu-btn-active" : "")" @onclick="UpgradeView">Upgrades</span>
                </div>
            </div>
            @if (JobsVisible)
            {
                <div class="content-area">
                    <table class="jobs-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Level</th>
                                <th>Income</th>
                                <th>XP</th>
                                <th>NextLevel</th>
                            </tr>
                        </thead>
                        @foreach (Job job in _engine.JobsList)
                        {
                            if (job.Unlocked)
                            {
                                <JobComponent Job="@job" OnClick="SetActiveJob" OnJobTick="UpdateJob" GenerateIncome="true" />
                            }
                        }
                    </table>
                </div>
            }
            @if (ResearchVisible)
            {
                <div class="content-area">
                    <table class="research-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Level</th>
                                <th>Modifier</th>
                                <th>XP</th>
                                <th>NextLevel</th>
                            </tr>
                        </thead>
                        @foreach (Research research in _engine.ResearchList)
                        {
                            if (research.Unlocked)
                            {
                                <ResearchComponent Research="@research" OnClick="SetActiveResearch" OnResearchTick="UpdateResearch" GenerateXP="true" />
                            }
                        }
                    </table>
                </div>
            }
            @if (UpgradeVisible)
            {
                <div class="content-area">
                    <table class="upgrade-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Modifier</th>
                                <th>Expense</th>
                            </tr>
                        </thead>
                        @foreach (Upgrades upgrade in _engine.UpgradeList)
                        {
                            if (upgrade.Unlocked)
                            {
                                <UpgradeComponent Upgrade="@upgrade" OnUpgradeTick="UpdateUpgrade" />
                            }
                        }
                    </table>
                </div>
            }
        </div>
    </div>
</div>
@code {
    bool JobsVisible { get; set; } = true;
    bool ResearchVisible { get; set; } = false;
    bool UpgradeVisible { get; set; } = false;

    public Job activeJob { get; set; }
    public Research activeResearch { get; set; }

    void SetSpeed(int value)
    {
        _engine.SetGameSpeed(value);
    }

    void SetActiveJob(Job job)
    {
        activeJob = job;
    }

    void SetActiveResearch(Research research)
    {
        activeResearch = research;
    }

    void UpdateJob(Job job)
    {
        if (job.GenerateIncome)
        {
            _engine.SetMoney();
        }
    }

    void UpdateResearch()
    {
        //_engine.GetJobXpModifier();
    }

    void UpdateUpgrade()
    {

    }

    void JobsView()
    {
        JobsVisible = true;
        ResearchVisible = false;
        UpgradeVisible = false;
    }
    void StudyView()
    {
        ResearchVisible = true;
        JobsVisible = false;
        UpgradeVisible = false;
    }
    void UpgradeView()
    {
        UpgradeVisible = true;
        JobsVisible = false;
        ResearchVisible = false;
    }
}
